$theme-darker:rgb(73, 3, 3);
$theme-dark:#840E0E;
$theme:#B23030;
$theme-light:#E3A0A0;
$theme-lighter: #ffe8e8;
$theme-lightest: #fff7f7;
$theme-transluscent: rgba(255, 255, 255, 0.6); 
$theme-faint:#FEF7F7;
$blue-dark:#020438; 
$blue-light:#EEFAFF;
$grey-dark: #2a2323;
$grey:#9f9da9;
$grey-light:#f3f3f3ff;
$black: #000000;

$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;
$text-dark: #000000;
